---
import classnames from 'classnames'

const sizes = ['none', 'xsm', 'sm', 'base', 'lg', 'xl'] as const
export type Size = (typeof sizes)[number]

/**
 * Takes a background "bg" slot
 */
interface Props {
    /** background color must be a valid CSS string. e.g. var(--variable) */
    color?: string
    /** padding for the top of the section wrapper. Must be a valid CSS string. e.g. var(--variable) */
    paddingTop?: Size | number
    /** padding for the bottom of the section wrapper. Must be a valid CSS string. e.g. var(--variable) */
    paddingBottom?: Size | number
    /** CSS min width string */
    maxWidth?: string
    /** additional classes */
    class?: string
}

const {
    color,
    paddingTop = 'none',
    paddingBottom = 'none',
    maxWidth = undefined,
    class: className,
} = Astro.props
const externalClasses = className ?? ''

const simpleWrapperClasses = classnames({
    simple: 'true',
    [externalClasses]: externalClasses,
})

const paddingTopIsNumber = typeof paddingTop === 'number'
const paddingBottomIsNumber = typeof paddingBottom === 'number'
---

<div
    class={simpleWrapperClasses}
    style={{
        background: color,
    }}
>
    <div
        class="content"
        style={{
            paddingTop: !paddingTopIsNumber
                ? `var(--section-wrapper-padding-${paddingTop})`
                : `${paddingTop}px`,
            paddingBottom: !paddingBottomIsNumber
                ? `var(--section-wrapper-padding-${paddingBottom})`
                : `${paddingBottom}px`,
            maxWidth: `calc(${maxWidth})` ?? 'var(--max-width-content)',
        }}
    >
        <slot />
    </div>
    <slot name="bg" />
</div>

<style>
    .simple {
        position: relative;
        overflow: hidden;
        background-color: var(--bg-color);
        padding: 0;
    }
    .content {
        background-color: transparent;
        position: relative;
        z-index: 10;
        padding: 0 2rem;
        margin: 0 auto;
        max-width: var(--max-width-content);
    }
    .top {
        padding-top: 90px;
    }
</style>
