---
// components
import Footer from '@components/Footer.astro'
import Header from '@components-react/Header/Header'

// constants
import { headerNav, footerNav, legalNav, businessName } from '@constants'

interface Props {
    title: string
    description: string
}

const { title, description } = Astro.props
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <!-- description should be 160 characters -->
        <meta name="description" content={description} />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
        />
        <meta name="generator" content={Astro.generator} />
        <!-- stop caching website content -->
        <meta http-equiv="cache-control" content="no-cache" />
        <meta http-equiv="expires" content="0" />
        <meta http-equiv="pragma" content="no-cache" />
        <title>{title}</title>
    </head>
    <body>
        <Header nav={headerNav} isTransparent client:load />
        <main>
            <slot />
        </main>
        <Footer
            businessName={businessName}
            numOfColumns={4}
            nav={footerNav}
            legalNav={legalNav}
        />
    </body>
</html>

<script>
    // stop memory leak
    window.addEventListener('unload', function () {
        document.documentElement.innerHTML = ''
    })
</script>

<style is:global>
    :root {
        /* text */
        --text-line-height: 1.6;
        --text-color: var(
            --color-9
        ); /* a little different than --secondary color */
        --text-color-inverted: var(--bg-color);
        --text-xsm: 14px;
        --text-sm: 16px;
        --text-base: 18px;
        --text-lg: 20px;
        /* header size */
        --font-size-hero: 64px;
        --font-size-h1: 38px;
        --font-size-h2: 18px;
        --font-size-footer: 15px;
        /* colors */
        --color-de-emphasized-1: #b7b7b7; /* or I could use opacity: 0.7; to de-emphasize text */
        --color-de-emphasized-2: #9f9f9f;
        --color-de-emphasized-3: #6d6d6d;
        --opacity-de-emphasize-text: 0.7;
        --color-0: #e6f3ff;
        --color-1: #b3dafe;
        --color-2: #81c1fd;
        --color-3: #4fa8fd;
        --color-4: #1c90fc;
        --color-5: #0376e3;
        --color-6: #025cb0;
        --color-7: #02427e;
        --color-8: #01274c;
        --color-9: #000d19;
        --color-black: black;

        --primary-color: var(--color-5); /* light color */
        --secondary-color: var(--color-7); /* close to black color */
        --bg-color: var(
            --color-0
        ); /* should not be completely white or completely black */
        --footer-bg-color: var(--color-8); /* darker than secondary color */
        --legal-font-color: var(
            --color-de-emphasized-1
        ); /* darker than bg-color */
        /* widths, usually accompanied with margin: 0 auto; */
        --max-width-header: 1064px;
        --max-width-content: 1024px;
        --max-width-footer: 1064px;
        /* border */
        --border-radius-round: 15px;
        --card-radius: 8px;
        --border-radius-button-sm-pill: 15px;
        --border-radius-button-md-pill: 25px;
        --border-radius-button-lg-pill: 35px;
        --border-radius-button-sm-round: 6px;
        --border-radius-button-md-round: 8px;
        --border-radius-button-lg-round: 10px;
        /* responsive design widths (based on tailwind) */
        --sm: 640px;
        --md: 768px;
        --lg: 1024px;
        --xl: 1280px;
        --2xl: 1536px;
        /* mobile content margins */
        --mobile-content-margins: 12px;
        /* bg colors */
        --bg-color-accent-light: var(--color-0); /* a light secondary color */
        --bg-color-accent-dark: var(--secondary-color);
        --bg-color-accent-tertiary: var(--color-white);
        /* margins */
        --section-y-margin: 80px;
        /* paddings */
        --section-wrapper-padding-xsm: 60px;
        --section-wrapper-padding-sm: 100px;
        --section-wrapper-padding-base: 150px;
        --section-wrapper-padding-lg: 200px;
        --section-wrapper-padding-xl: 250px;
        /* transitions */
        --transition-base: all 0.2s ease-in-out;
        /* others */
        --font-family-classy: Georgia, Palatino, Baskerville;
        --font-family-casual-1: Helvetica Neue, system-ui, sans-serif;
        --font-family-casual-2: Tahoma, Verdana, Arial;
        /* 
            hover statuses: 
            - filter: brightness(90%); - make darker
            - opacity: 0.7; - make brighter
        */

        --accent: 136, 58, 234;
        --accent-light: 224, 204, 250;
        --accent-dark: 49, 10, 101;
        --accent-gradient: linear-gradient(
            45deg,
            rgb(var(--accent)),
            rgb(var(--accent-light)) 30%,
            white 60%
        );
    }
    html {
        font-family: var(--font-family-casual-1);
        background: var(--bg-color);
        font-size: var(--text-base);
        color: var(--text-color);
        /* good letter spacing for Helvetica Neue */
        letter-spacing: 0.2px;
        line-height: var(--text-line-height);
    }
    body {
        margin: 0;
    }
    * {
        box-sizing: border-box;
    }
</style>
